<footer class="row-footer">
        <div class="container">
            <div class="row">             
                <div class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-1">
                    <h5>Links</h5>
                      <ul class="list-unstyled">
                        <li>
                            <a ui-sref="app">Home</a> 
                             /
                            <a ui-sref="app.aboutus">About</a>
                             /
                            <a ui-sref="app.menu">Menu</a>
                             /
                            <a ui-sref="app.contactus">Contact</a>
                        </li>
                     </ul>
                </div>
             
                <div class="col-xs-12">
                    <p style="padding:10px;"></p>
                    <p align=center>© Voca App</p>
                </div>
            </div>
        </div>
    </footer>