<div class="container">
        <div class="row row-content">
                 <div class="col-xs-12 col-sm-9 col-sm-pull-3">
              
                    <div class="media">
                        <div class="media-body">
                            <h2 class="media-heading">People
                            <span class="label label-danger">test</span>
                            <span class="badge">11.2</span></h2>
                            <p>사람들</p>
                        </div>
                </div>
        </div>
</div>